.logo {
    max-width: 142px;
    /* margin-bottom: 41px; */
    padding-bottom: 41px;
}
@media screen and (max-width: 320px) {
    .logo {
        max-width: 104px;
        padding-left: 27px;
        /* margin-bottom: 31.6px; */
        padding-bottom: 31.6px;
    }
}