.popup__span_error {
    max-width: 358px;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    min-height: 30px;
    padding-top: 5px;
    margin: 0 36px;
}
@media screen and  (max-width: 525px) {
    .form__input-error {
      max-width: 238px;
      margin: 0 22px;
    }
  }