.popup__about {
    width: 358px;
    height: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    margin: 0 auto 48px;
}
@media screen and (max-width: 320px) {
    .popup__about {
        width: 238px;
    }
}