.profile__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: start;
}
@media screen and (max-width: 320px){
    .profile__info{
        margin: 22px auto 36px;

    }
}