.profile__info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-self: start;
}
@media screen and (max-width: 500px){
    .profile__info{
        margin: 23px auto 30px;
    }
}