.grid-item__mesto {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis; /* св-во из тз */
    white-space: nowrap; /* св-во из тз */
    overflow: hidden; /* св-во из тз */
}